html {
  box-sizing: border-box;
  font-size: 100%;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: 'DM Sans', sans-serif;
  font-size: var(--prm-fsz);
  font-weight: var(--regular-fw);
  color: var(--scd-clr);
  line-height: var(--prm-lh);
  background-color: var(--prm-clr);
}

h1,
h2,
h3,
p,
blockquote,
cite,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-style: normal;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

/* HELPER CLASSES */

.bg-rounded {
  background-color: var(--card-bg-clr);
  border-radius: var(--card-br);
}

/* nav-list */

.nav-list {
  font-size: var(--scd-fsz);
  line-height: var(--header-lh);
}

.nav-list__link:hover {
  color: var(--brand-clr);
}

/* WRAPPER */

/* TITLE */

.title-intro {
  color: var(--brand-clr);
}

.title {
  font-size: var(--title-fsz);
}

.title--prm {
  letter-spacing: var(--title-prm-ls);
  line-height: var(--title-prm-lh);
}

.title--scdr {
  line-height: var(--title-scdr-lh);
  letter-spacing: var(--title-scdr-ls);
}

/* BUTTON */

.btn {
  /* width: 100%; */
  /* max-width: 14.8rem; */
  padding: 0.75rem 1rem;

  color: var(--scd-clr);

  background-color: var(--brand-clr);
  border: 2px solid var(--brand-clr);

  cursor: pointer;
}

.btn--prm {
  border-radius: var(--prm-br);
}

.btn--scdr {
  border-radius: var(--btn-round-br);
}

.btn:hover {
  color: var(--brand-clr);
  background-color: transparent;
}
