/* EPISODES */

.episode {
  padding: 2.5rem;
}

.episode__tag {
  padding-inline: 1rem;
  background-color: var(--prm-clr);
  border-radius: var(--prm-br);
}

.episode__description,
.host__description {
  color: var(--trt-clr);
}

/* FORM */

.subscription__title {
  font-size: var(--form-title-fsz);
}

.subscription__form input {
  padding: 1.62rem 1.18rem;

  font-size: var(--form-input-fsz);
  color: var(--trt-clr);
  line-height: var(--form-input-lh);
  background-color: var(--prm-clr);
  border-radius: var(--prm-br);
  border: none;
}

.subscription__btn {
  font-size: var(--trt-fsz);
}

/* REVIEWS */
.fa-solid {
  color: var(--review-star-clr);
}

.review__description {
  font-size: var(--review-text-fsz);
}

.review__author {
  font-size: var(--review-author-fsz);
  color: var(--trt-clr);
}
